<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Festival</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let festival of festivals">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ festival.name }}</h4>
          <p class="list-group-item-text">{{ festival.description }}</p>
        </div>
        <span class="pull-right">
          <img
            [src]="festival.imagePath"
            alt="{{ festival.name }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span>
      </a>
      <app-festival-item></app-festival-item>
    </div>
  </div>
  
  

<!-- <img src="{{ festival.imagePath }}" -->